# Node / npm
node_modules/
npm-debug.log
.npm/

# Firebase emulator data
emulator-data/
ui-debug.log
firebase-debug.log
firestore-debug.log
pubsub-debug.log
database-debug.log

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
.idea/
.vscode/
*.iml
.DS_Store

# Linux
build/linux/

# Android
build/app/
.gradle/
local.properties

# Secrets / env
.env
.env.local
*.key
*.pem
